body {
  background-image: url("/src/images/background.jpg");
  background-size: contain;
}
.card1 {
  position: relative;
  margin: 50px;
  padding: 10px;
}
.header {
  margin: 10px;
  margin-top: -10px;
  margin-bottom: 40px;
}
h1 {
  font-size: 70px;
}
.card2 {
  position: relative;
  margin-left: 20px;
  background-color: rgb(235, 235, 235);
}
h5 {
  font-size: 150px;
  font-weight: 300;
}
.high-temp {
  font-size: large;
}
.low-temp {
  font-size: large;
}
.humid-precip {
  position: relative;
  margin-top: 50px;
}
#current-location-button {
  margin-top: 10px;
}

.temp-switch {
  margin: 10px;
  text-align: right;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}
.signature {
  text-align: center;
  color: rgb(127, 127, 127);
  margin: 15px;
}
.name {
  color: rgb(52, 52, 52);
}
.weather-description {
  font-weight: bold;
}
