body {
  background-image: url("/src/images/background.jpg");
  background-size: contain;
}
.card1 {
  position: relative;
  margin: 50px;
  padding: 10px;
}
.header {
  margin: 10px;
  margin-top: -10px;
  margin-bottom: 40px;
}
h1 {
  font-size: 70px;
}

h5 {
  font-size: 150px;
  font-weight: 300;
}
.high-temp {
  font-size: large;
}
.low-temp {
  font-size: large;
}
.humid-precip {
  position: relative;
  margin-top: 50px;
}
#current-location-button {
  margin-top: 10px;
}

.signature {
  text-align: center;
  color: rgb(127, 127, 127);
  margin: 15px;
}
.name {
  color: rgb(52, 52, 52);
}
.weather-description {
  font-weight: bold;
}
.units {
  font-size: large;
}
